$projectGreen : #5DAA68;
$projectDarkGreen: #3F6844;

.searchBox{
  border-radius: 2em;
  height: 2.7em;
}

.classCardSD{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
  .dueExamDate{
    font-size: 0.9em;
    vertical-align: center;
  }
}

.paymentDetails{
  position: fixed;
  margin-bottom: 1000px;
  z-index: 10;
  background-color: #61dafb;
}

.footerSection{
  position: relative;
  z-index: -10;
}

.requestEnrollDetails{
  background-color: white;
  font-size: 1.5em;
}

.rejectRequest{
  background-color: grey;
  border-color: transparent;
  border-radius: 1.6em;
}

.acceptBtn{
  background-color: $projectGreen;
  border-color: transparent;
  border-radius: 1.6em;
}

.profileName{
  color: white;
}
